<div class="navbar">
    <%= image_tag "959.jpeg", class: "icon-f1-top"%>
      <div class="tel-and-car">
        <p id="phone-number">0101010101</p> <%= link_to "Voitures disponibles", cars_path, class: "availible-cars" %> <%= link_to "Home", root_path, id: "btn-home" %>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
</div>
