.booking-new{
  border: 1px solid;
  border-radius: 8px;
  height: 220px;
  padding-top: 25px;
}

.booking-photo{
  height: 150px;
  width: 150 px;
}

.flex-container{
  display: flex;
  justify-content: space-around;
}

.booking{
  margin: 20px;
}
