.booking-new{
  border: 1px solid;
  border-radius: 8px;
  height: 220px;
  padding-top: 25px;
}

.booking-photo{
  height: 150px;
  width: 150 px;
  border-radius: 8px;
}

.flex-container{
  display: flex;
  justify-content: space-around;
}

.booking-car{
  border: 1px solid;
  height: 450px;
  background-color: #ffff;
  width: 300px;
  padding: 15px;
  border-radius: 8px;
}

.specifications{
  border: 1px solid;
  height: 450px;
  background-color: #ffff;
  padding: 15px;
  border-radius: 8px;
}

.reserver-h3{
  padding: 5px;
}

.paiement-securise{
  padding: 5px;
}

.ce-vh-vous-interesse{
  padding: 5px;
}

.btn-dark{
  padding: 5px;
}

.booking{
  margin-bottom: 30px;
}

.nouvelle-reservation{
  margin-top: 10px;
}
