.booking-new{
  border: 1px solid;
  border-radius: 8px;
  height: 220px;
  padding-top: 25px;
}

.booking-photo{
  height: 150px;
  width: 150 px;
}

.flex-container{
  display: flex;
  justify-content: space-around;
}

.booking-car{
  border: 1px solid;
  height: 450px;
  background-color: #ffff;
  width: 300px;
  display: flex;
}

.specifications{
  border: 1px solid;
  height: 450px;
  background-color: #ffff;
}


