.navbar{
  display: flex;
  justify-content: space-around;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.icon-f1-top{
  width: 100px;
  height: 60px;
  border-radius: 8px;
  box-shadow: 0 0 10px;
}

.tel-and-car{
  display: flex;
  justify-content: space-around;
  width: 50%;
}

#btn-home{
  color:black;
  text-decoration: none
}

.availible-cars{
  color:black;
  text-decoration: none;
}

#phone-number{
  border: 1px solid;
}
